body
{
    background: #eee;
}

div.tsr-header-main, nav.tsr-main-nav, section.tsr-section-divider, div.tsr-footer-copyright
{
    background: #eee !important;
}

span.btnJoin
{
    background: #007FFF;
}

button#featured_button, form#search-form .tsr-btn
{
    background: #007FA0 !important;
}

header.tsr-product-header, menu.tsr-nav-top-level a.menu-item, menu.tsr-nav-top-level li.newButtonForDiscount
{
    color: #007FFF !important;
    font-weight: bold !important;
}

section.tsr-section-divider header.tsr-container
{
    color: #007FFF !important;
}

div#modal-backdrop2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.8;
    display: none;
}

.modal .modal-dialog .modal-content .logmodal-container .logmodal-submit, .modal .modal-dialog .modal-content .logmodal-container a.logmodal-submit
{
    text-transform: none;
}

form#login-form span.help-block
{
    display: none;
}

figure.tsr-product-image img
{
    height: 130px !important;
}

.tsr-section-header .tsr-header-logo
{
    padding: 9px;
}