div#modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.8;
    display: none;
}

.modal .modal-dialog .modal-content .logmodal-container .logmodal-submit, .modal .modal-dialog .modal-content .logmodal-container a.logmodal-submit
{
    text-transform: none;
}

form#login-form span.help-block
{
    display: none;
}